$background-grey: #e5e4e2;
$navy-yellow: #e8b00f;
$navy-black: #08262c;
$navy-black-faded: #08262cf3;
$navy-blue: #003b4f;
$navy-teal: #088199;
$navy-gray: #c6ccd0;
$navy-gray-but-darker: #b9c1c6;
$navy-red: #b30003;

$th-bg-color: #dcdcdc;
$tr-odd-row-bg-color: #f5f5f5;
$tr-even-row-bg-color: white;

$fitrep-tooltip-bg-color: #c2dfff;
$fitrep-gap-tooltip-bg-color: #c2dfff;
$rs-command-bar-tooltip-bg-color: #c2dfff;

$lightblue: #4ea3dc;