/* * {
  background: grey;
} */

h1 {
  color: black;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 10fr;
  grid-gap: 6px;
}

.label {
  justify-self: end;
  align-self: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 160px;
  height: 128px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
