#grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
  grid-template-rows: 0.15fr 0.15fr 1fr 5fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "name name name gh_link gh_link"
    "filters filters filters filters filters"
    "legend canvas canvas canvas ."
    "table table table table table";
}

#name {
  grid-area: name;
}

#filters {
  grid-area: filters;
}

#gh_link {
  grid-area: gh_link;
  display: flex;
  justify-content: flex-end;
}

#canvas {
  grid-area: canvas;
}

#fitreps_legend {
  grid-area: legend;
  display: flex;
}

.table {
  grid-area: table;
}

.label {
  justify-self: end;
  align-self: center;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 6px;
  font: 12px sans-serif;
  background: grey;
  border: 2px;
  border-radius: 8px;
  pointer-events: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: thin solid black;
}

tr {
  height: 50px;
}

div.tooltip > table {
  font: 12px san-serif;
  /* width: 1px;
  height: 1px; */
  white-space: nowrap;
  border-collapse: collapse;
}

div.tooltip table tr {
  width: 1px;
  height: 1px;
}

.header_items {
  background: #efefef;
}

text {
  font-family: "Roboto", serif;
}

table {
  font-family: "Roboto", serif;
}

h1,
h2 {
  font-family: "Roboto", serif;
}
