:root {
  --navy-grey: #c6ccd0;
  --navy-dark-blue: #003b4f;
  --navy-light-blue: #088199;
  --navy-gold: #e8b00f;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
  grid-template-rows: 0.15fr 0.15fr 1fr 5fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "name name name gh_link gh_link"
    "filters filters . . ."
    "legend canvas canvas canvas ."
    "table table table table table";
}

#name {
  grid-area: name;
}

#filters {
  grid-area: filters;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#gh_link {
  grid-area: gh_link;
  display: flex;
  justify-content: flex-end;
}

#canvas {
  grid-area: canvas;
}

#fitreps_legend {
  grid-area: legend;
  display: flex;
}

.table {
  grid-area: table;
}

.label {
  justify-self: end;
  align-self: center;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 6px;
  font: 12px sans-serif;
  background: grey;
  border: 2px;
  border-radius: 8px;
  pointer-events: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: thin solid black;
}

tr {
  height: 50px;
}

div.tooltip > table {
  font: 12px san-serif;
  /* width: 1px;
  height: 1px; */
  white-space: nowrap;
  border-collapse: collapse;
}

div.tooltip table tr {
  width: 1px;
  height: 1px;
}

.header_items {
  background: #efefef;
}

h1,
h2,
text,
table {
  font-family: "Roboto", serif;
}

input[type="range"] {
  box-sizing: border-box;
  appearance: none;
  width: 400px;
  margin: 0;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(#e8b00f, #e8b00f) no-repeat center;
  /* background: linear-gradient(grey, grey) no-repeat center; */
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;
}

input[type="range"]:active,
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  /* Makes a circular thumb */
  /* height: 28px;
  width: 28px;
  border-radius: 28px; */
  /* Makes a rectangular thumb */
  height: 36px;
  width: 16px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 3px;

  /* background-color: var(--navy-dark-blue); */
  background-color: lightgrey;
  /* position: relative; */
  margin: 15px 0;
  /* Add some margin to ensure box shadow is shown */
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0);
  /* box-shadow: 1px 1px 4px 0.5px var(--navy-gold); */
}

.multi-range {
  /* position: relative; */
  height: 50px;
}

.multi-range input[type="range"] {
  position: absolute;
}

.multi-range input[type="range"]:nth-child(1)::-webkit-slider-thumb::before {
  /* background-color: red; */
  background-color: var(--navy-grey);
}

.multi-range input[type="range"]:nth-child(2) {
  background: none;
}

.multi-range input[type="range"]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: purple;
}
