<a id="faqCloseBtn" href="javascript:void(0)" class="closebtn">&times;</a>
<div class="overlay-content">
    <h1>Frequently Asked Questions</h1>

    <h2>How is this secure?</h2>
    <p>
        <strong>No PDF information is transmitted to our server</strong>
        All PDF parsing occurs in your browser. If you're really curious, go
        ahead and open the network panel. You'll see nothing goes over the wire.
    </p>

    <h2>What if your site gets hacked?</h2>
    <p>
        We don't receive or retain any visitor data on the site so there's
        nothing to steal.
    </p>

    <h2>What if someone's listening without you knowing?</h2>
    <p>
        Check the SSL lock in your browser. If the lock's green, no external
        sources are loading and you can be sure it's our site. If it's not
        green, STOP, do not upload your PDF and contact us.
    </p>

    <h2>I really don't trust you, but I want a report.</h2>
    <p>
        No problem it's just gonna be a little more work, you'll need to use the
        interactive table below and manually enter the data off your report. If
        you want to be really cagey, you can even use imaginary names for your
        Reporting Seniors (I recommend characters from
        <a
            href="https://www.imdb.com/title/tt0105690/fullcredits/?ref_=tt_ql_cl"
            target="__blank"
            >Under Siege</a
        >, but it's your choice).
    </p>
</div>
