$navy-yellow: #e8b00f;
$navy-black: #08262c;
$navy-black-faded: #08262cf3;

$th-bg-color: #dcdcdc;
$tr-odd-row-bg-color: #f5f5f5;
$tr-even-row-bg-color: white;

$fitrep-tooltip-bg-color: #c2dfff;
$fitrep-gap-tooltip-bg-color: #c2dfff;
$rs-command-bar-tooltip-bg-color: #c2dfff;

body {
    margin: 0;
}

main {
    margin: 8;
}

nav {
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    transition: top 750ms ease-in-out;
    background-color: $navy-black-faded;
}

nav.scroll-up {
    top: 0;
}

nav.scroll-down {
    top: -100%;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    background-color: $navy-black;
}
.logo {
    float: left;
    pointer-events: none;
    font-size: x-large;
    padding: 20px 20px;
}

.grid {
    display: grid;
    grid-template-columns: 184px 0.5fr 2fr 0.5fr 0.5fr;
    grid-template-rows: 75px 50px 1fr auto;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas:
        'name name name gh_link gh_link'
        'upload upload . . .'
        'fitrep_legend canvas canvas canvas .'
        'table table table table table';
}

h1,
h2,
text,
table,
div,
nav {
    font-family: 'Roboto', serif;
}

#name {
    grid-area: name;
}

#gh_link {
    grid-area: gh_link;
    display: flex;
    justify-content: flex-end;
}

#pdf-parser-wrapper {
    grid-area: upload;
}

#canvas {
    grid-area: canvas;
}

#fitrep_legend {
    grid-area: fitrep_legend;
}

.table {
    grid-area: table;
}

th {
    background-color: $th-bg-color;
}
tr:nth-child(odd) {
    background-color: $tr-odd-row-bg-color;
}
tr:nth-child(even) {
    background-color: $tr-even-row-bg-color;
}

.label {
    justify-self: end;
    align-self: center;
}

div.tooltip {
    position: absolute;
    border: 2.5px;
    border-radius: 8px;
    padding: 6px;
}

div.fitrepTooltip {
    text-align: left;
    width: auto;
    height: auto;
    background: $fitrep-tooltip-bg-color;
    pointer-events: none;
}

div.fitrepTooltip > table {
    font: 12px san-serif;
    white-space: nowrap;
    border-collapse: collapse;
}

div.fitrepTooltip table tr {
    width: 1px;
    height: 1px;
}

div.fitrepGapTooltip {
    text-align: left;
    width: fit-content;
    block-size: fit-content;
    height: fit-content;
    background: $fitrep-gap-tooltip-bg-color;
    pointer-events: none;
    grid-area: canvas;
}

div.fitrepGapTooltip::after {
    content: ' ';
    position: absolute;
    top: 45%;
    right: 100%;
    margin-top: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

div.rsCommandBarTooltip {
    text-align: left;
    width: fit-content;
    block-size: fit-content;
    height: fit-content;
    font: 14px sans-serif;
    background: $rs-command-bar-tooltip-bg-color;
    pointer-events: none;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: thin solid black;
}

tr {
    height: 50px;
}

#fitrep_legend {
    display: flex;
}

.graph_filter_container {
    margin-bottom: 2em;
}

// FAQ overlay
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.95);
    overflow-y: hidden;
    transition: 1s;
}

.overlay-content > * {
    color: #a0a0a0;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    text-decoration: none;
    color: #f1f1f1;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
